services:
  postgres:
    image: postgres:17.2-alpine3.20
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: root                # 用户名
      POSTGRES_PASSWORD: root            # 密码
      POSTGRES_DB: myapp                 # 初始化数据库名
    ports:
      - "5432:5432"
    volumes:
      - ./data/postgres:/var/lib/postgresql/data   # 本地持久化存储
